.recommendation-scn {
    width: 100%;
    padding: 50px 0px;
}
.recommendation-scn h3 {
    font-weight: 400;
    font-style: normal;
    color: #1c1b1b;
    -webkit-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
    letter-spacing: .2em;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;

}